[Desktop Entry]
Name=ClassiPod
Comment=iPod Classic-inspired player for local music and Subsonic/Navidrome streaming
Exec=classipod
Icon=${SNAP}/meta/gui/classipod.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;Music;
Keywords=music;player;audio;ipod;local;songs;offline;subsonic;navidrome;streaming;
StartupWMClass=classipod
